# ENVIROMENT VARIABLES 

frontend/.env
backend/.env
admin/.env

.env
.env.*
!.env.example 
#---------------------------
#RAECT MODULES
frontend/node_modules/
frontend/build/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

#=======================
#PHP 
#=======================
admin/vendor/
backend/vendor/
*.log
*.cache
*.tmp

#=======================
#DB Backup 
#=======================
mysql-init/*.sql

#=======================
#OS FILES
#=======================
.DS_storeThumbs.db

#=======================
# EDITOR / IDE
#=======================
.vscode/
.idea/

