ENV DB_HOST=mysql  // mysql host
ENV DB_NAME=portfolio //  enter your database name
ENV DB_USER=root // enter your database user 
ENV DB_PASSWORD=root // enter your database password

ENV EMAIL_USER='' // your email 
ENV EMAIL_PASS='' // email passd that genrated by google password app 
ENV ADMIN_EMAIL='' // your email 

ENV PORT=5000 // port of backend 

